[submodule "Universe/Vendor/GLFW"]
	path = Universe/Vendor/GLFW
	url = https://github.com/Kefsner/glfw
[submodule "Universe/Vendor/imgui"]
	path = Universe/Vendor/imgui
	url = https://github.com/Kefsner/imgui
[submodule "Universe/Vendor/spdlog"]
	path = Universe/Vendor/spdlog
	url = https://github.com/Kefsner/spdlog
